.PASSPORTS{
    color: brown; font-size: 50PX; font-style: oblique;}
.You{
    font-style: italic;}
.Book{color:blue; background-color: aliceblue; width: 100px; border-radius: 20px;}
.FASHIONABLY{
    color: red; font-size: 50px; font-style: oblique;
}
.Your{font-style: italic;}
.Shop{color: bisque; background-color: blueviolet; width: 150px; border-radius: 20px;}
.Lets{color: yellowgreen; font-size: 50px; font-style: oblique;}
.So{ font-style: italic;}
.Take{color: plum; background-color: black;width: 100px;border-radius: 20px;}
.CRYING{color: goldenrod; font-size: 50px; font-style: oblique;}
.Mental{font-style: italic;}
.Read{color: aqua; background-color: black; width: 150px; border-radius: 20px;}
.BECAUSE{color: violet; font-size: 30px; font-style: italic;}
.Look{font-style:oblique;}
.See{color: brown; background-color: azure;width: 100px;border-radius: 20px;}
